services:
  traefik:
    image: traefik:v2.5
    command:
      # Habilita la interfaz de administración (solo para pruebas)
      - "--api.insecure=true"
      
      # Habilita la integración con Docker para descubrir servicios automáticamente
      - "--providers.docker=true"
      
      # Define los entrypoints para HTTP y HTTPS
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
      
      # Habilita Let's Encrypt para la obtención automática de certificados
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=tuemail@ejemplo.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"

    ports:
      # Mapea puertos HTTP, HTTPS y el panel de control de Traefik
      - "80:80"
      - "443:443"
      - "8080:8080"  # Panel de administración de Traefik (solo para pruebas)

    volumes:
      # Acceso al socket de Docker para que Traefik pueda interactuar con los contenedores
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      
      # Volumen para almacenar los certificados de Let's Encrypt
      - "./letsencrypt:/letsencrypt"

    labels:
      # Define las etiquetas de Traefik para la integración con los contenedores
      - "traefik.enable=true"
      
    restart: always

  hello-world:
    image: php:7.4-apache
    container_name: hello-world
    depends_on:
      - traefik  # Dependencia de Traefik, asegurando que se inicie después de Traefik
    labels:
      # Habilita Traefik para este contenedor
      - "traefik.enable=true"
      
      # Reglas de enrutamiento de Traefik
      - "traefik.http.routers.helloworld.rule=Host(`{{ instance_tag }}.campusdual.mkcampus.com`)"
      
      # Define el entrypoint web seguro (HTTPS)
      - "traefik.http.routers.helloworld.entrypoints=websecure"
      
      # Asocia la terminación TLS con el certificado de Let's Encrypt
      - "traefik.http.routers.helloworld.tls.certresolver=myresolver"
    
    # Volumen para servir el contenido web
    volumes:
      - ./html:/var/www/html  # Monta tu directorio local con los archivos PHP
  
    restart: always
